/* ======================== INSTRUCTOR DASHBOARD ======================== */
.card {
    background: var(--color-bg1);
    padding: 1.6rem;
    border-radius: 1rem;
    text-align: left;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transition: var(--transition);
    width: 100%;
    max-width: 800px;
    margin: 0 auto; /* Center the card horizontally */
}

.card:hover {
    background: var(--color-bg2);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.card-header h1 {
    margin-bottom: 1rem;
}

.card-body {
    margin-top: 1rem;
}
.form-container {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 2rem; 
    width: 100%; 
    height: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input[type="text"]{
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
}

.btn-primary {
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--color-primary);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: var(--color-primary-hover);
}
